@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
}

#inicio{
    height: 100vh;
    background: url(../assets/img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.painel{
background: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Suporte Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
  color: #fff;
  width: 92%;
  position: fixed;
  z-index: 1000;
}

.painel nav img{
    width: 55px;
    height: 55px;
}

.painel nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.painel nav .icones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #D4AF37;
}

.painel nav .icones a{
    color: #3A5A40;

}

/* //////////////////////////////////////// */

/*Nomes*/

.nomes{
    font-family: 'Allura';
    color: #2F4F4F;
    font-size: 50px;
}

/* ///////////////////////////////// */

#inicio .low{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    color: #2f4f4f;
    text-align: center;
    font-family: 'Alex Brush';
}

.data p {
  margin: 5px 0;
  position: relative;
  font-size: 1.2em;
}

.data .mes {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.data .diaSemana,
.data .hora {
  font-size: 1.5em;
}

.data .dia {
  font-size: 3em;
  margin: 5px 0;
  grid-column: 1/3;
}

.data .centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data .ano {
  font-size: 1.5em;
  margin-top: 10px;
}

/* Linhas douradas abaixo de alguns textos */
.data .mes::after,
.data .diaSemana::after,
.data .hora::after,
.data .ano::after {
  content: '';
  display: flex;
  width: 100px;
  height: 2px;
  background-color: #D4AF37;
  margin: 5px auto 0 auto;
}

