@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
}

#pix{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inria Serif';
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}

#pix h2{
    color: #2f4f4f;
    font-size: 30px;
}

#pix .linha_pix{
    width: 150px;
    height: 2px;
    background-color: #D4AF37;
}

.box_pix {
  background-color: #527053;
  width: 100%;
  height: 280px;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_pix img {
  width: 300px;
  height: 300px;
  margin-top: 1rem;
}

.linha_box_pix {
  width: 250px;
  height: 2px;
  background-color: #D4AF37;
  position: absolute;
  top: 270px;
}


.texto_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    gap: 10px;
}

.texto_info p{
    width: 380px;
}

.info{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info button{
    padding: 10px;
    border: #D4AF37 solid 2px;
    width: 170px;
    border-radius: 30px;
    color: #333333;
    cursor: pointer;
}

.info button:hover {
    transition: 0.5s;
    background: #D4AF37;
    color: white;
    transform: scale(1.1);
}